header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}


.post-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
}

hr {
  /* border: 1px solid black; */
  width: 100%;;
}